<div id="group-section">
    <div id="grid-group-section">
        <section id="section-1">
            <div class="flex center">
                <img src='/assets/images/icon-access-anywhere.svg' alt="icon of a computer that indicates users using fylo cloud service can access file remotely" height="78"/>
            </div>
            <div>
                <div>
                    <h1 class="info-section-h1 font-white text-center">Access your files, anywhere</h1>
                </div>
                <div>
                    <p class="info-section-p font-white text-center">The ability to use a smarphone, tablet, or computer to access your account means your files follow you everywhere.</p>
                </div>
            </div>
        </section>
        <section id="section-2">
            <div class="flex center">
                <img src='/assets/images/icon-security.svg' alt="icon of a shield that indicates users files are secure using the fylo clould service" height="78"/>
            </div>
            <div>
                <div>
                    <h1 class="info-section-h1 font-white text-center">Security you can trust</h1>
                </div>
                <div>
                    <p class="info-section-p font-white text-center">2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files.</p>
                </div>
            </div>
        </section>
        <section id="section-3">
            <div class="flex center">
                <img src='/assets/images/icon-collaboration.svg' alt="icon of a three people with a check mark that indicates users can share access to others using the fylo cloud service" height="78"/>
            </div>
            <div>
                <div>
                    <h1 class="info-section-h1 font-white text-center">Real-time collaboration</h1>
                </div>
                <div>
                    <p class="info-section-p font-white text-center">Securely share files and folders with friends, family and collegues for live collaboration. No email attachments required.</p>
                </div>
            </div>
        </section>
        <section id="section-4">
            <div class="flex center">
                <img src='/assets/images/icon-any-file.svg' alt="icon of a folder with files that indicates users can save any file type on fylo cloud service" height="78"/>
            </div>
            <div>
                <div>
                    <h1 class="info-section-h1 font-white text-center">Store any type of file</h1>
                </div>
                <div>
                    <p class="info-section-p font-white text-center">Whether your're sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.</p>
                </div>
            </div>
        </section>
    </div>
</div>