main{
    padding-left: 40px;
    padding-right:40px;
    font-family: 'Raleway', sans-serif;
}

@media (min-width: 768px) {
    main{
        padding-left: 100px;
        padding-right: 100px;
    }
}