<section>
    <div class="flex center">
        <img id="illustation-intro" src="./assets/images/illustration-intro.png" alt="the illustration shows two people accessing files from a folder" layout='fill'/>
    </div>
    <div>
        <div>
            <h1 class="intro-h1 font-white text-center">All your files in one secure location, accessible anywhere.</h1>
        </div>
        <div>
            <p class="intro-p font-white text-center">Fylostores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends family, and co-workers.</p>
        </div>
    </div>
    <div class="flex center">
        <button class="font-white">Get Started</button>
    </div>
</section>