section{
    padding-top: 1.875em;
    padding-bottom: 1.875em;
    padding-left: 1.875em;
    padding-right: 1.875em;
    border-radius: 0.938em;    
}
.early-access-h1{
    font-size:2.2em;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom:1.250em;
}
.early-access-p{
    text-align: center;
    margin-bottom: 1.563em;
}
form{
    display: flex;
    justify-content: center;
}
.form-group{
    width:100%;
    max-width: 25.000em;
}
.form-input{
    margin-bottom:1.2em;
}
input{
    width: 100%;
    padding-top: 1.125em;
    padding-bottom: 1.125em;
    border-radius: 3.125em;
    box-sizing: border-box;
    padding-left: 2.125em;
}
.input-error{
    font-size: .8em;
    display: inline-block;
    height: 1.5em;
    padding:0; margin:0;
    color:red;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-left:1.875em;
}
.input-error p{
    padding-top:5px;
}
button{
    width: 100%;
    padding-top: 1.125em;
    padding-bottom: 1.125em;
    font-weight: 700;
    color:white;
    border-radius: 3.125em;
    background-image:
    linear-gradient(
      to right, 
      hsl(188, 62%, 60%), hsl(198, 60%, 50%)
    );
}
button:hover{
    background-image: none;
    background-color: hsl(188, 87%, 71%);
}
@media (min-width:768px){
    form{
        display: flex;
        justify-content: center;
    }
    .form-group{
        display: flex;
        max-width: unset;
        column-gap: 1.875em;
    }
    .form-input{
        width: 70%;
        margin-bottom: 0em;
    }
    .form-button{
        display: block;
        width: 30%;
    }
    .input-error{
        font-size: .9em;
    }
}
@media (min-width: 992px) { 
    section{
        width: 70%; 
        left: 15%;
        position: relative;
        top: -50%;
        transform: translate(0, 50%)
    }
}
@media (min-width: 1200px) { 
    section{
        width: 50%; 
        left: 25%;
        position: relative;
        top: -50%;
        transform: translate(0, 50%)
    }
}